<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>个人中心</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <!-- 引入组件库 -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <link rel="stylesheet" href="css/base.css">
    <style>
        .el-col{
            margin-top: 30px;
        }
        #edit{
            height: 40px;
            background-color: rgb(64,158,255);
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 15px;
            width: 100px;
            border-radius: 5px;
            color: white;
        }
    </style>
</head>
<body>
<div id="app">
    <el-container>
        <el-header>
            <el-row>
                <el-col :span="6">
                    <el-breadcrumb separator="/">
                        <el-breadcrumb-item :to="{ path: '/' }">首页</el-breadcrumb-item>
                        <el-breadcrumb-item><a href="MyInfo.html">个人中心</a></el-breadcrumb-item>
                    </el-breadcrumb>
                </el-col>
                <el-col :span="6">
                    <el-input v-model="queryString" placeholder="请输入要查找的文章标题或作者"></el-input>
                </el-col>
                <el-col :span="2" style="margin-left: 50px;">
                    <el-button type="primary" icon="el-icon-search" @click="select()">搜索</el-button>
                </el-col>
                <el-col :span="2">
                    <div id="edit" style="margin-left: 30px;">
                        <i class="el-icon-circle-plus-outline"></i>
                        <a type="primary" href="edit.html" style="color: white">发布</a>
                    </div>
                </el-col>
                <el-col :span="8" style="text-align: right;">
                    <div style="position: absolute; top: 20px; right: 0;">
                        <img src="img/logo.png" style="max-width: 200px; height: auto;">
                    </div>
                </el-col>

            </el-row>
        </el-header>
        <el-main style="margin-top: 80px;margin-left: 150px;margin-right: 150px">
            <el-descriptions title="用户信息">
                <el-descriptions-item label="昵称">{{user.nickname}}</el-descriptions-item>
                <el-descriptions-item label="粉丝数">{{user.followings}}</el-descriptions-item>
                <el-descriptions-item label="注册时间">{{user.registrationTime}}</el-descriptions-item>
                <el-descriptions-item label="文章数">{{user.articles}}</el-descriptions-item>
            </el-descriptions>
        </el-main>
        <h1 style="padding-left: 180px;font-size: 25px">我的文章</h1>
        <el-main>
            <ul v-for="article in articles" style="margin-right: 350px;margin-left: 350px">
                <li>
                    <h1 style="font-size: 30px">{{article.title}}</h1>
                </li>
                <li style="height: 90px;overflow: hidden">
                    <div style="word-wrap: break-word;font-size: 20px" >{{article.content}}</div>
                </li>
            </ul>
        </el-main>
    </el-container>
</div>

<script>
    const vue = new Vue({
        el: "#app",
        data() {
            return {
                queryString:"",
                user:{
                    nickname:"",
                    followings:"",
                    registrationTime:"",
                    articles:""
                },
                articles:[
                    {
                        title:"zjnu",
                        content:"fuck"
                    },
                    {
                        title:"zjnu",
                        content:"fuck"
                    }
                ]
            }
        },
        methods: {
            select(){
                //未完待续
            }
        },
    })
</script>

</body>
</html>